<%- include('../partials/head'); %>
<body>

    <header>
        <%- include('../partials/header'); %>
    </header>

    <h1 class="titlePage">Detalle de <%= elProducto.name %> </h1>
    <section class="categoria"><%= elProducto.category %></section>
    <div class="productCard">
        <img src="../../../uploads/img_products/<%= elProducto.image %>" alt="NO TA">
        <div class="text">
        <h3 class="title"><%= elProducto.name %></h3>
        <h5 class="edad"><%= elProducto.age %></h5>
        <h4 class="precio">$ <%= elProducto.price %></h4>
        <!-- <h6 class="formaPago"><strong>12 cuotas</strong> sin interés</h6> -->
        <button>
        <a href=""  class="btn">Comprar</a>
        </button>
        </div>
    </div>
    <br>
    <div class="productInfo" >
       <h7>Características</h7>
            <br>
            <p><%= elProducto.description %>
            </p>            
        </div>

    <br>          

    
  

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

<%- include('../partials/closure'); %>
